@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-3L8A00ymsz6s: #2563eb;
  --plasmic-token-brand-brand: var(--token-3L8A00ymsz6s);
  --token-nlGd3xUz8YN9: 0.5rem;
  --plasmic-token-size-8: var(--token-nlGd3xUz8YN9);
  --token-gFWR3S3EDw0R: Inter;
  --plasmic-token-sans-serif: var(--token-gFWR3S3EDw0R);
  --token-SW0j21cmm2wa: 1rem;
  --plasmic-token-font-md: var(--token-SW0j21cmm2wa);
  --token-n6_V_cBD26j-: 1.25;
  --plasmic-token-line-height-md: var(--token-n6_V_cBD26j-);
  --token-1NZbkWN2o_4l: 0.375rem;
  --plasmic-token-size-6: var(--token-1NZbkWN2o_4l);
  --token-RP9SzRHrOIUH: #374151;
  --plasmic-token-neutral-neutral: var(--token-RP9SzRHrOIUH);
  --token-jsGNdZ2siXdI: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-jsGNdZ2siXdI);
  --token-AjPuGD6NA_hG: #6b7280;
  --plasmic-token-muted-muted: var(--token-AjPuGD6NA_hG);
  --token-_GI4NSfINUii: 0.25rem;
  --plasmic-token-size-4: var(--token-_GI4NSfINUii);
  --token-qIolXznLiKj9: 0.75rem;
  --plasmic-token-font-sm: var(--token-qIolXznLiKj9);
  --token-54PoL046gkhq: 1;
  --plasmic-token-line-height-sm: var(--token-54PoL046gkhq);
  --token-I2HWBkT9n7gW: 1.25rem;
  --plasmic-token-font-lg: var(--token-I2HWBkT9n7gW);
  --token-6XrJSMVzQUWR: 1.4;
  --plasmic-token-line-height-lg: var(--token-6XrJSMVzQUWR);
  --token-U_7JDYN9iuMP: 0.125rem;
  --plasmic-token-size-2: var(--token-U_7JDYN9iuMP);
  --token-6ajTKABYgCpQ: #16a34a;
  --plasmic-token-success-success: var(--token-6ajTKABYgCpQ);
  --token-Bbd0Z7qcafzT: #facc15;
  --plasmic-token-warning-warning: var(--token-Bbd0Z7qcafzT);
  --token-DUOK0XszSjRn: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-DUOK0XszSjRn);
  --token-kJJzoLLB-pcn: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-kJJzoLLB-pcn);
  --token-7S-fZ614Mzkg: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-7S-fZ614Mzkg);
  --token-bDdsjyHEF_yl: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-bDdsjyHEF_yl);
  --token-XD3rqhxmxw7e: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-XD3rqhxmxw7e);
  --token-6wvOErLK9DwF: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-6wvOErLK9DwF);
  --token-NZzY2lHx3_-d: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-NZzY2lHx3_-d);
  --token-c3NC92Vom7wy: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-c3NC92Vom7wy);
  --token-LZTgfoNO57zQ: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-LZTgfoNO57zQ);
  --token-6v_3MZ7dgiqR: #86efac;
  --plasmic-token-success-success-border: var(--token-6v_3MZ7dgiqR);
  --token-_-s9CZ9u6szW: #fde047;
  --plasmic-token-warning-warning-border: var(--token-_-s9CZ9u6szW);
  --token-_U75IjhYPxA_: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-_U75IjhYPxA_);
  --token-7xHjHidYzTwr: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-7xHjHidYzTwr);
  --token-fz5apxC8SPmj: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-fz5apxC8SPmj);
  --token-gleIAjmuXD8-: #00000033;
  --plasmic-token-interaction-pressed: var(--token-gleIAjmuXD8-);
  --token-Id2OCKLinC9x: 0.625rem;
  --plasmic-token-size-10: var(--token-Id2OCKLinC9x);
  --token-g5vZDwOLQKqP: 0.75rem;
  --plasmic-token-size-12: var(--token-g5vZDwOLQKqP);
  --token-J6-V7vcuK1zd: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-J6-V7vcuK1zd);
  --token-U4bm47A4OhWr: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-U4bm47A4OhWr);
  --token-EEwNIhVvsNd9: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-EEwNIhVvsNd9);
  --token-R74OZY-S6qLl: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-R74OZY-S6qLl);
  --token-utnnTSeIRWgs: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-utnnTSeIRWgs);
  --token-mHVefrFC7MTI: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-mHVefrFC7MTI);
  --token-DTaxVpFMiYpr: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-DTaxVpFMiYpr);
  --token-jE5KS-eq_ccc: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-jE5KS-eq_ccc);
  --token-dSDCNQxTkRVO: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-dSDCNQxTkRVO);
  --token-phuPtet37l1S: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-phuPtet37l1S);
  --token-9NpCSWKicM19: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-9NpCSWKicM19);
  --token-teGEf6BGRG1D: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-teGEf6BGRG1D
  );
  --token-gBmpNSJPDRfg: #1363a8;
  --plasmic-token-logo-color: var(--token-gBmpNSJPDRfg);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-dTE8swhMBIyr_font-family: "Inter", sans-serif;
  --mixin-dTE8swhMBIyr_font-size: 16px;
  --mixin-dTE8swhMBIyr_font-weight: 400;
  --mixin-dTE8swhMBIyr_font-style: normal;
  --mixin-dTE8swhMBIyr_color: #ffffff;
  --mixin-dTE8swhMBIyr_text-align: left;
  --mixin-dTE8swhMBIyr_text-transform: none;
  --mixin-dTE8swhMBIyr_line-height: 1.5;
  --mixin-dTE8swhMBIyr_letter-spacing: normal;
  --mixin-dTE8swhMBIyr_white-space: pre-wrap;
  --mixin-dTE8swhMBIyr_user-select: text;
  --mixin-dTE8swhMBIyr_text-decoration-line: none;
  --mixin-dTE8swhMBIyr_text-overflow: clip;
  --mixin-LFvCTqzoSV6__color: #000000;
  --mixin-LFvCTqzoSV6__font-weight: 700;
  --mixin-LFvCTqzoSV6__font-size: 64px;
  --mixin-LFvCTqzoSV6__line-height: 1;
  --mixin-LFvCTqzoSV6__letter-spacing: -1px;
  --mixin-LFvCTqzoSV6__white-space: pre-wrap;
  --mixin-jNKqCXX1kAfN_color: #000000;
  --mixin-jNKqCXX1kAfN_font-size: 48px;
  --mixin-jNKqCXX1kAfN_font-weight: 700;
  --mixin-jNKqCXX1kAfN_letter-spacing: -0.5px;
  --mixin-jNKqCXX1kAfN_line-height: 1.1;
  --mixin-jNKqCXX1kAfN_white-space: pre-wrap;
  --mixin-22cqg6w6eL9m_white-space: pre-wrap;
  --mixin-yhS0jALx8LR5_color: #000000;
  --mixin-yhS0jALx8LR5_font-size: 32px;
  --mixin-yhS0jALx8LR5_font-weight: 600;
  --mixin-yhS0jALx8LR5_line-height: 1.2;
  --mixin-yhS0jALx8LR5_white-space: pre-wrap;
  --mixin-OTSWPKMHbcGG_color: #000000;
  --mixin-OTSWPKMHbcGG_font-size: 24px;
  --mixin-OTSWPKMHbcGG_font-weight: 600;
  --mixin-OTSWPKMHbcGG_line-height: 1.3;
  --mixin-OTSWPKMHbcGG_white-space: pre-wrap;
  --mixin-YIbcvPCI_bse_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-YIbcvPCI_bse_border-bottom-color: #dddddd;
  --mixin-YIbcvPCI_bse_border-bottom-style: solid;
  --mixin-YIbcvPCI_bse_border-bottom-width: 1px;
  --mixin-YIbcvPCI_bse_border-left-color: #dddddd;
  --mixin-YIbcvPCI_bse_border-left-style: solid;
  --mixin-YIbcvPCI_bse_border-left-width: 1px;
  --mixin-YIbcvPCI_bse_border-right-color: #dddddd;
  --mixin-YIbcvPCI_bse_border-right-style: solid;
  --mixin-YIbcvPCI_bse_border-right-width: 1px;
  --mixin-YIbcvPCI_bse_border-top-color: #dddddd;
  --mixin-YIbcvPCI_bse_border-top-style: solid;
  --mixin-YIbcvPCI_bse_border-top-width: 1px;
  --mixin-YIbcvPCI_bse_border-bottom-left-radius: 3px;
  --mixin-YIbcvPCI_bse_border-bottom-right-radius: 3px;
  --mixin-YIbcvPCI_bse_border-top-left-radius: 3px;
  --mixin-YIbcvPCI_bse_border-top-right-radius: 3px;
  --mixin-YIbcvPCI_bse_font-family: "Inconsolata";
  --mixin-YIbcvPCI_bse_padding-bottom: 1px;
  --mixin-YIbcvPCI_bse_padding-left: 4px;
  --mixin-YIbcvPCI_bse_padding-right: 4px;
  --mixin-YIbcvPCI_bse_padding-top: 1px;
  --mixin-YIbcvPCI_bse_white-space: pre-wrap;
  --mixin-CVzjF2ru3gOg_border-left-color: #dddddd;
  --mixin-CVzjF2ru3gOg_border-left-style: solid;
  --mixin-CVzjF2ru3gOg_border-left-width: 3px;
  --mixin-CVzjF2ru3gOg_color: #888888;
  --mixin-CVzjF2ru3gOg_padding-left: 10px;
  --mixin-CVzjF2ru3gOg_white-space: pre-wrap;
  --mixin-HVW6Kd7WGfAs_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-HVW6Kd7WGfAs_border-bottom-color: #dddddd;
  --mixin-HVW6Kd7WGfAs_border-bottom-style: solid;
  --mixin-HVW6Kd7WGfAs_border-bottom-width: 1px;
  --mixin-HVW6Kd7WGfAs_border-left-color: #dddddd;
  --mixin-HVW6Kd7WGfAs_border-left-style: solid;
  --mixin-HVW6Kd7WGfAs_border-left-width: 1px;
  --mixin-HVW6Kd7WGfAs_border-right-color: #dddddd;
  --mixin-HVW6Kd7WGfAs_border-right-style: solid;
  --mixin-HVW6Kd7WGfAs_border-right-width: 1px;
  --mixin-HVW6Kd7WGfAs_border-top-color: #dddddd;
  --mixin-HVW6Kd7WGfAs_border-top-style: solid;
  --mixin-HVW6Kd7WGfAs_border-top-width: 1px;
  --mixin-HVW6Kd7WGfAs_border-bottom-left-radius: 3px;
  --mixin-HVW6Kd7WGfAs_border-bottom-right-radius: 3px;
  --mixin-HVW6Kd7WGfAs_border-top-left-radius: 3px;
  --mixin-HVW6Kd7WGfAs_border-top-right-radius: 3px;
  --mixin-HVW6Kd7WGfAs_font-family: "Inconsolata";
  --mixin-HVW6Kd7WGfAs_padding-bottom: 3px;
  --mixin-HVW6Kd7WGfAs_padding-left: 6px;
  --mixin-HVW6Kd7WGfAs_padding-right: 6px;
  --mixin-HVW6Kd7WGfAs_padding-top: 3px;
  --mixin-HVW6Kd7WGfAs_white-space: pre-wrap;
  --mixin-yg65UuRp1QUZ_display: flex;
  --mixin-yg65UuRp1QUZ_flex-direction: column;
  --mixin-yg65UuRp1QUZ_align-items: stretch;
  --mixin-yg65UuRp1QUZ_justify-content: flex-start;
  --mixin-yg65UuRp1QUZ_list-style-position: outside;
  --mixin-yg65UuRp1QUZ_padding-left: 40px;
  --mixin-yg65UuRp1QUZ_position: relative;
  --mixin-yg65UuRp1QUZ_list-style-type: disc;
  --mixin-yg65UuRp1QUZ_white-space: pre-wrap;
  --mixin-QDTYfBSJ2dlS_display: flex;
  --mixin-QDTYfBSJ2dlS_flex-direction: column;
  --mixin-QDTYfBSJ2dlS_align-items: stretch;
  --mixin-QDTYfBSJ2dlS_justify-content: flex-start;
  --mixin-QDTYfBSJ2dlS_list-style-position: outside;
  --mixin-QDTYfBSJ2dlS_padding-left: 40px;
  --mixin-QDTYfBSJ2dlS_position: relative;
  --mixin-QDTYfBSJ2dlS_list-style-type: decimal;
  --mixin-QDTYfBSJ2dlS_white-space: pre-wrap;
  --mixin-nlyj3po21EdK_color: #000000;
  --mixin-nlyj3po21EdK_font-size: 20px;
  --mixin-nlyj3po21EdK_font-weight: 600;
  --mixin-nlyj3po21EdK_line-height: 1.5;
  --mixin-nlyj3po21EdK_white-space: pre-wrap;
  --mixin-SUgf-j8JprKQ_color: #000000;
  --mixin-SUgf-j8JprKQ_font-size: 16px;
  --mixin-SUgf-j8JprKQ_font-weight: 600;
  --mixin-SUgf-j8JprKQ_line-height: 1.5;
  --mixin-SUgf-j8JprKQ_white-space: pre-wrap;
  --mixin-_na-MucvAggZ_color: #3291ff;
  --mixin-_na-MucvAggZ_white-space: pre-wrap;
  --mixin-o_pvHt_ADKYf_white-space: pre-wrap;
  --mixin-AGCMsBqMfO8L_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-dTE8swhMBIyr_font-family);
  font-size: var(--mixin-dTE8swhMBIyr_font-size);
  font-weight: var(--mixin-dTE8swhMBIyr_font-weight);
  font-style: var(--mixin-dTE8swhMBIyr_font-style);
  color: var(--mixin-dTE8swhMBIyr_color);
  text-align: var(--mixin-dTE8swhMBIyr_text-align);
  text-transform: var(--mixin-dTE8swhMBIyr_text-transform);
  line-height: var(--mixin-dTE8swhMBIyr_line-height);
  letter-spacing: var(--mixin-dTE8swhMBIyr_letter-spacing);
  white-space: var(--mixin-dTE8swhMBIyr_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-LFvCTqzoSV6__color);
  font-weight: var(--mixin-LFvCTqzoSV6__font-weight);
  font-size: var(--mixin-LFvCTqzoSV6__font-size);
  line-height: var(--mixin-LFvCTqzoSV6__line-height);
  letter-spacing: var(--mixin-LFvCTqzoSV6__letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-jNKqCXX1kAfN_color);
  font-size: var(--mixin-jNKqCXX1kAfN_font-size);
  font-weight: var(--mixin-jNKqCXX1kAfN_font-weight);
  letter-spacing: var(--mixin-jNKqCXX1kAfN_letter-spacing);
  line-height: var(--mixin-jNKqCXX1kAfN_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-yhS0jALx8LR5_color);
  font-size: var(--mixin-yhS0jALx8LR5_font-size);
  font-weight: var(--mixin-yhS0jALx8LR5_font-weight);
  line-height: var(--mixin-yhS0jALx8LR5_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-OTSWPKMHbcGG_color);
  font-size: var(--mixin-OTSWPKMHbcGG_font-size);
  font-weight: var(--mixin-OTSWPKMHbcGG_font-weight);
  line-height: var(--mixin-OTSWPKMHbcGG_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-YIbcvPCI_bse_font-family);
  border-radius: var(--mixin-YIbcvPCI_bse_border-top-left-radius)
    var(--mixin-YIbcvPCI_bse_border-top-right-radius)
    var(--mixin-YIbcvPCI_bse_border-bottom-right-radius)
    var(--mixin-YIbcvPCI_bse_border-bottom-left-radius);
  padding: var(--mixin-YIbcvPCI_bse_padding-top)
    var(--mixin-YIbcvPCI_bse_padding-right)
    var(--mixin-YIbcvPCI_bse_padding-bottom)
    var(--mixin-YIbcvPCI_bse_padding-left);
  border-top: var(--mixin-YIbcvPCI_bse_border-top-width)
    var(--mixin-YIbcvPCI_bse_border-top-style)
    var(--mixin-YIbcvPCI_bse_border-top-color);
  border-right: var(--mixin-YIbcvPCI_bse_border-right-width)
    var(--mixin-YIbcvPCI_bse_border-right-style)
    var(--mixin-YIbcvPCI_bse_border-right-color);
  border-bottom: var(--mixin-YIbcvPCI_bse_border-bottom-width)
    var(--mixin-YIbcvPCI_bse_border-bottom-style)
    var(--mixin-YIbcvPCI_bse_border-bottom-color);
  border-left: var(--mixin-YIbcvPCI_bse_border-left-width)
    var(--mixin-YIbcvPCI_bse_border-left-style)
    var(--mixin-YIbcvPCI_bse_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-CVzjF2ru3gOg_color);
  padding-left: var(--mixin-CVzjF2ru3gOg_padding-left);
  border-left: var(--mixin-CVzjF2ru3gOg_border-left-width)
    var(--mixin-CVzjF2ru3gOg_border-left-style)
    var(--mixin-CVzjF2ru3gOg_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-HVW6Kd7WGfAs_font-family);
  border-radius: var(--mixin-HVW6Kd7WGfAs_border-top-left-radius)
    var(--mixin-HVW6Kd7WGfAs_border-top-right-radius)
    var(--mixin-HVW6Kd7WGfAs_border-bottom-right-radius)
    var(--mixin-HVW6Kd7WGfAs_border-bottom-left-radius);
  padding: var(--mixin-HVW6Kd7WGfAs_padding-top)
    var(--mixin-HVW6Kd7WGfAs_padding-right)
    var(--mixin-HVW6Kd7WGfAs_padding-bottom)
    var(--mixin-HVW6Kd7WGfAs_padding-left);
  border-top: var(--mixin-HVW6Kd7WGfAs_border-top-width)
    var(--mixin-HVW6Kd7WGfAs_border-top-style)
    var(--mixin-HVW6Kd7WGfAs_border-top-color);
  border-right: var(--mixin-HVW6Kd7WGfAs_border-right-width)
    var(--mixin-HVW6Kd7WGfAs_border-right-style)
    var(--mixin-HVW6Kd7WGfAs_border-right-color);
  border-bottom: var(--mixin-HVW6Kd7WGfAs_border-bottom-width)
    var(--mixin-HVW6Kd7WGfAs_border-bottom-style)
    var(--mixin-HVW6Kd7WGfAs_border-bottom-color);
  border-left: var(--mixin-HVW6Kd7WGfAs_border-left-width)
    var(--mixin-HVW6Kd7WGfAs_border-left-style)
    var(--mixin-HVW6Kd7WGfAs_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-yg65UuRp1QUZ_display);
  flex-direction: var(--mixin-yg65UuRp1QUZ_flex-direction);
  align-items: var(--mixin-yg65UuRp1QUZ_align-items);
  justify-content: var(--mixin-yg65UuRp1QUZ_justify-content);
  list-style-position: var(--mixin-yg65UuRp1QUZ_list-style-position);
  padding-left: var(--mixin-yg65UuRp1QUZ_padding-left);
  position: var(--mixin-yg65UuRp1QUZ_position);
  list-style-type: var(--mixin-yg65UuRp1QUZ_list-style-type);
  flex-column-gap: var(--mixin-yg65UuRp1QUZ_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-QDTYfBSJ2dlS_display);
  flex-direction: var(--mixin-QDTYfBSJ2dlS_flex-direction);
  align-items: var(--mixin-QDTYfBSJ2dlS_align-items);
  justify-content: var(--mixin-QDTYfBSJ2dlS_justify-content);
  list-style-position: var(--mixin-QDTYfBSJ2dlS_list-style-position);
  padding-left: var(--mixin-QDTYfBSJ2dlS_padding-left);
  position: var(--mixin-QDTYfBSJ2dlS_position);
  list-style-type: var(--mixin-QDTYfBSJ2dlS_list-style-type);
  flex-column-gap: var(--mixin-QDTYfBSJ2dlS_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-nlyj3po21EdK_color);
  font-size: var(--mixin-nlyj3po21EdK_font-size);
  font-weight: var(--mixin-nlyj3po21EdK_font-weight);
  line-height: var(--mixin-nlyj3po21EdK_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-SUgf-j8JprKQ_color);
  font-size: var(--mixin-SUgf-j8JprKQ_font-size);
  font-weight: var(--mixin-SUgf-j8JprKQ_font-weight);
  line-height: var(--mixin-SUgf-j8JprKQ_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-_na-MucvAggZ_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
