.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-3L8A00ymsz6s);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-nlGd3xUz8YN9);
  font-family: var(--token-gFWR3S3EDw0R);
  font-size: var(--token-SW0j21cmm2wa);
  line-height: var(--token-n6_V_cBD26j-);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-1NZbkWN2o_4l);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-U_7JDYN9iuMP);
  outline-offset: 1px;
  outline-color: var(--token-3L8A00ymsz6s);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-RP9SzRHrOIUH);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-AjPuGD6NA_hG);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-6ajTKABYgCpQ);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-Bbd0Z7qcafzT);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-jsGNdZ2siXdI);
}
.rootcolor_white:global(.__wab_instance) {
  background: #ffffff;
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-54PoL046gkhq);
  font-size: var(--token-qIolXznLiKj9);
  column-gap: var(--token-U_7JDYN9iuMP);
  row-gap: 0px;
  border-radius: var(--token-_GI4NSfINUii);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-qIolXznLiKj9);
  line-height: var(--token-54PoL046gkhq);
  column-gap: var(--token-_GI4NSfINUii);
  row-gap: 0px;
  border-radius: var(--token-_GI4NSfINUii);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-I2HWBkT9n7gW);
  line-height: var(--token-6XrJSMVzQUWR);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-I2HWBkT9n7gW);
  line-height: var(--token-6XrJSMVzQUWR);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-DUOK0XszSjRn);
  border-radius: var(--token-1NZbkWN2o_4l);
}
.softBackgroundcolor_neutral {
  background: var(--token-kJJzoLLB-pcn);
}
.softBackgroundcolor_muted {
  background: var(--token-7S-fZ614Mzkg);
}
.softBackgroundcolor_success {
  background: var(--token-bDdsjyHEF_yl);
}
.softBackgroundcolor_warning {
  background: var(--token-XD3rqhxmxw7e);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-6wvOErLK9DwF);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-1NZbkWN2o_4l);
  border: 0px solid var(--token-NZzY2lHx3_-d);
}
.bordercolor_neutral {
  border-color: var(--token-c3NC92Vom7wy);
}
.bordercolor_muted {
  border-color: var(--token-LZTgfoNO57zQ);
}
.bordercolor_success {
  border-color: var(--token-6v_3MZ7dgiqR);
}
.bordercolor_warning {
  border-color: var(--token-_-s9CZ9u6szW);
}
.bordercolor_errorDestructive {
  border-color: var(--token-_U75IjhYPxA_);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-1NZbkWN2o_4l);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-7xHjHidYzTwr);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-fz5apxC8SPmj);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-gleIAjmuXD8-);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__hkhF {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-1NZbkWN2o_4l) var(--token-Id2OCKLinC9x);
}
.freeBox__hkhF > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-1NZbkWN2o_4l));
  width: calc(100% + var(--token-1NZbkWN2o_4l));
}
.freeBox__hkhF > :global(.__wab_flex-container) > *,
.freeBox__hkhF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hkhF > :global(.__wab_flex-container) > picture > img,
.freeBox__hkhF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-1NZbkWN2o_4l);
}
.freeBoxsize_extraSmall__hkhFK5Dn {
  padding: var(--token-_GI4NSfINUii) var(--token-1NZbkWN2o_4l);
}
.freeBoxsize_small__hkhF1Jesi {
  padding: var(--token-1NZbkWN2o_4l) var(--token-nlGd3xUz8YN9);
}
.freeBoxsize_large__hkhFOjqLu {
  padding-top: var(--token-_GI4NSfINUii);
  padding-bottom: var(--token-_GI4NSfINUii);
}
.freeBoxsize_extraLarge__hkhFHljxd {
  padding-left: var(--token-g5vZDwOLQKqP);
  padding-right: var(--token-g5vZDwOLQKqP);
}
.freeBoxroundedFull__hkhFBt0O2 {
  padding-right: var(--token-g5vZDwOLQKqP);
  padding-left: var(--token-g5vZDwOLQKqP);
}
.freeBox__fbPrj {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__fbPrjpqbfd {
  display: flex;
}
.slotTargetStart {
  color: var(--token-J6-V7vcuK1zd);
}
.slotTargetStartcolor_neutral {
  color: var(--token-U4bm47A4OhWr);
}
.slotTargetStartcolor_muted {
  color: var(--token-EEwNIhVvsNd9);
}
.slotTargetStartcolor_success {
  color: var(--token-mHVefrFC7MTI);
}
.slotTargetStartcolor_warning {
  color: var(--token-utnnTSeIRWgs);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-DTaxVpFMiYpr);
}
.slotTargetStarttype_soft {
  color: var(--token-R74OZY-S6qLl);
}
.slotTargetStarttype_bordered {
  color: var(--token-R74OZY-S6qLl);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-qIolXznLiKj9);
}
.slotTargetStartsize_small {
  font-size: var(--token-qIolXznLiKj9);
}
.slotTargetStartsize_large {
  font-size: var(--token-I2HWBkT9n7gW);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-I2HWBkT9n7gW);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-jE5KS-eq_ccc);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-jE5KS-eq_ccc);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-dSDCNQxTkRVO);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-dSDCNQxTkRVO);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-phuPtet37l1S);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-phuPtet37l1S);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-9NpCSWKicM19);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-9NpCSWKicM19);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-teGEf6BGRG1D);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-teGEf6BGRG1D);
}
.svg__gen0H {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-J6-V7vcuK1zd);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-U4bm47A4OhWr);
}
.slotTargetLabelcolor_muted {
  color: var(--token-EEwNIhVvsNd9);
}
.slotTargetLabelcolor_success {
  color: var(--token-mHVefrFC7MTI);
}
.slotTargetLabelcolor_warning {
  color: var(--token-utnnTSeIRWgs);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-DTaxVpFMiYpr);
}
.slotTargetLabeltype_soft {
  color: var(--token-R74OZY-S6qLl);
}
.slotTargetLabeltype_bordered {
  color: var(--token-R74OZY-S6qLl);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-jE5KS-eq_ccc);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-dSDCNQxTkRVO);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-jE5KS-eq_ccc);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-phuPtet37l1S);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-dSDCNQxTkRVO);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-9NpCSWKicM19);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-phuPtet37l1S);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-teGEf6BGRG1D);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-9NpCSWKicM19);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-teGEf6BGRG1D);
}
.text__cvgGc {
  white-space: pre;
  color: var(--token-gBmpNSJPDRfg);
}
.freeBox__aDveY {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__aDveYiAjfz {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-J6-V7vcuK1zd);
}
.slotTargetEndcolor_neutral {
  color: var(--token-U4bm47A4OhWr);
}
.slotTargetEndcolor_muted {
  color: var(--token-EEwNIhVvsNd9);
}
.slotTargetEndcolor_success {
  color: var(--token-mHVefrFC7MTI);
}
.slotTargetEndcolor_warning {
  color: var(--token-utnnTSeIRWgs);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-DTaxVpFMiYpr);
}
.slotTargetEndtype_soft {
  color: var(--token-R74OZY-S6qLl);
}
.slotTargetEndtype_bordered {
  color: var(--token-R74OZY-S6qLl);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-qIolXznLiKj9);
}
.slotTargetEndsize_small {
  font-size: var(--token-qIolXznLiKj9);
}
.slotTargetEndsize_large {
  font-size: var(--token-I2HWBkT9n7gW);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-I2HWBkT9n7gW);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-jE5KS-eq_ccc);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-jE5KS-eq_ccc);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-dSDCNQxTkRVO);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-dSDCNQxTkRVO);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-phuPtet37l1S);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-phuPtet37l1S);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-9NpCSWKicM19);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-9NpCSWKicM19);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-teGEf6BGRG1D);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-teGEf6BGRG1D);
}
.svg__yFozr {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
